/* Base styles */
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lora', serif;
    background: linear-gradient(90deg, rgb(19, 191, 234) 0%, rgb(157, 203, 208) 100%);
    color: black;
}

header {
    background-color: #02203f;
    background-image: linear-gradient(to bottom right, #00c6fb 0%, #005bea 100%);
    border-bottom: solid px;
}

.title {
    margin: 0px;
    padding-top: 30px;
    text-align: center;
    font-size: 70px;
    font-style: italic;
}

.tagline {
    margin: 0px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 25px;
    font-style: oblique;
}

.section1 {
    border-bottom: 2px solid black;
    min-height: 306px;
}

table.table1 {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-style: oblique;
    font-weight: 400;
}

td.label, td.sel {
    width: 300px;
    height: 50px;
}

select {
    padding: 5px;
    width: 200px;
    font-size: 18px;
    font-family: 'Lora', serif;
    font-style: oblique;
    font-weight: 400;
    border-radius: 10px;
    border: none;
    outline: none;
}

.button {
    margin: 25px;
    text-align: center;
    padding: 20px;
}

.btn {
    padding: 5px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-family: 'Lora', serif;
    font-style: oblique;
    font-weight: 900;
    border: none;
    background-color: #3793ee;
    color: #061028;
    border-radius: 10px;
}

.btn:hover {
    background-color: #44c5f8;
    color: #002244;
    transition: 0.4s all;
    cursor: pointer;
}

.prediction {
    padding-bottom: 50px;
    border-bottom: 2px solid;
}

table.table2 {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

tr.r1 {
    font-size: 20px;
    font-style: oblique;
    font-weight: 400;
}

tr.r2 {
    font-size: 20px;
    font-style: oblique;
    font-weight: 900;
}

table.table3 {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid rgb(1, 4, 76);
    padding: 20px;
    border-radius: 5px;
}

td.result {
    width: 300px;
    height: 50px;
}

.button2 {
    text-align: center;
    margin-top: 45px;
}

#about {
    text-align: center;
    font-size: 30px;
    color: #002244;
}

#introduction {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    font-style: oblique;
}

.footer {
    padding: 10px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(6 23 52);
    color: white;
}

#developer {
    flex-basis: 100%;
    text-align: center;
}

#linkedin {
    padding-right: 20px;
}

#github {
    padding-left: 20px;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 1200px) {
    .title {
        font-size: 50px;
    }
}

@media screen and (max-width: 900px) {
    .title {
        font-size: 40px;
    }
}

@media screen and (max-width: 740px) {
    .title {
        font-size: 30px;
    }
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 37px;
    }
    .tagline{
        font-size: 20px;
    }
}
